<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports/template :: site-head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<header th:replace="imports/template :: site-header" />
	<div class="container text-center content">
		<h1>Ошибка!</h1>

		

		<h2  th:text="${exception.message}"></h2>

		
	
		
	</div>
	<footer th:replace="imports/template :: site-footer" />
</body>
</html>

