<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="imports/template :: site-head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<header th:replace="imports/template :: site-header" />
	<div class="container text-center content">


		<div class="col-xs-6 col-xs-offset-3">
			<form id="form" th:action="@{/result}" method="POST"
				accept-charset="utf-8" th:object="${formCommand}">
				<div class="form-inline">
					<div class="form-group">
						<label for="month">Выберите месяц</label> <select
							class="form-control" id="month" name="month" th:field="*{month}">

						</select>
					</div>
					<div class="form-group">
						<label for="year">Выберите год</label> <select
							class="form-control" id="year" name="year" th:field="*{year}">

						</select>
					</div>


				</div>
				
					<div class="form-group">
						<label for="rate">Показывать результат на:</label> <select
							class="form-control" id="rate" name="rate" th:field="*{rate}">
							<option value="0">Действующую ставку</option>
							<option value="1">1 ставку</option>
						</select>
					</div>
					<div class="form-group">
						<label for="rate">Способ представления результатов:</label> <select
							class="form-control" id="resFormat" name="resFormat" th:field="*{resultFormat}">
							<option value="0">По подразделениям</option>
							<option value="1">По сотрудникам</option>
						</select>
					</div>
				
				<div class="form-group">
					<label for="dep">Выберите подразделения</label> <select size="7"
						multiple class="form-control" id="dep">

					</select>
				</div>
				<div class="form-group ">
					<label for="person">Выберите сотрудников</label> <select size="12"
						multiple class="form-control " placeholder="все" id="person"
						name="person" th:field="*{jsonStrings}">

					</select>
				</div>
				<input type="button" id="clear" class="btn btn-primary"
					value="Очистить">
				<button type="submit" id="submit" class="btn btn-success">Показать</button>

			</form>
		</div>
	</div>
	<footer th:replace="imports/template :: site-footer" />
	<script th:inline="javascript">
		var path = /*[[@{/}]]*/'test';
		let monthsParseArray=["январь","февраль","март","апрель","май","июнь","июль","август","сентябрь","октябрь","ноябрь","декабрь"];
		let formmodel;
		let monthSelect=$("#month");
		let yearSelect=$("#year");
		let departmentSelect=$("#dep");
		let personSelect=$("#person");

		window.onload = function() {
			console.log(yearSelect.value);
			getformmodel();
			$("#form").submit(function(){
				if(personSelect.val().length==0){
					$("#person option").prop("selected", "selected");}
			});
			var clearbtn=document.getElementById("clear");
			clearbtn.onclick=function(){
				var personSelect=document.getElementById("person");
				var depSelect=document.getElementById("dep");
				for(let opt of personSelect.options){
					if(opt.selected)opt.selected=false;
				}
				for(let opt of depSelect.options){
					if(opt.selected)opt.selected=false;
				}
				$("#dep").select2().change();
				$("#person").select2().change();
			};
			

		}
		function getformmodel() {
			$("#form :input").prop("disabled", true);
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : path + "api/getstartform",
				dataType : 'json',
				timeout : 100000,
				success : function(data) {
					
					formmodel=data;
					fillForm();

				},
				error : function(e) {
					console.log("ERROR: ", e);
					fillForm(e);
				},
				done : function(e) {
					console.log("DONE");
				}
			});
		}
		function fillForm(){
			console.dir(formmodel);
			let changeMonths=function(){
				monthSelect.empty();
				for (let month of formmodel.map[yearSelect.val()]) {
					console.log(month)
					monthSelect.append(new Option(monthsParseArray[month-1], month));
				}
			}
			let changePersons=function(){
				let persons=[];
				personSelect.empty();
				if(departmentSelect.val().length!=0){
				
				
				
				for (let dep of departmentSelect.val()) {
					for(let person of formmodel.selectPersonsList){
						let year=yearSelect.val();
						let month=monthSelect.val();
						let isNotDismiss=false;
						if(person.dismissDate==null||person.dismissDate[0]>year)
							isNotDismiss=true;
						else if(person.dismissDate[0]==year&&person.dismissDate[1]>=month)
							isNotDismiss=true;
						if(person.personDepartmentName==dep&&isNotDismiss)
							persons.push(person);
					}
						
				}
				for(let person of persons){
					personSelect.append(new Option(person.fullName,JSON.stringify(person)));
				}}else{
					for(let person of formmodel.selectPersonsList){
						let year=yearSelect.val();
						let month=monthSelect.val();
						let isNotDismiss=false;
						if(person.dismissDate==null||person.dismissDate[0]>year)
							isNotDismiss=true;
						else if(person.dismissDate[0]==year&&person.dismissDate[1]>=month)
							isNotDismiss=true;
						if(isNotDismiss)
							persons.push(person);
					}
					for(let person of persons){
						personSelect.append(new Option(person.fullName,JSON.stringify(person)));
					}
				}
				console.dir(personSelect);
			}
			for (let year in formmodel.map) {
				yearSelect.append(new Option(year, year));
			}
			for(let person of formmodel.selectPersonsList){
				 personSelect.append(new Option(person.fullName,JSON.stringify(person)));
			}
			for(let dep of formmodel.selectDepartmentsList){
				 departmentSelect.append(new Option(dep.departmentName,dep.departmentName));
			}
			
			changeMonths();
			yearSelect.change(function(){
				changeMonths();
				changePersons();
			});
			monthSelect.change(function(){
				changePersons();
			});
			departmentSelect.change(function(){
				changePersons();
			});
			$("#form :input").prop("disabled", false);
			departmentSelect.select2({
				placeholder: 'Все'
			});
			personSelect.select2({
				placeholder: 'Все'
			});
		}
	</script>
	<!--  <script th:src="@{js/form.js}"></script>-->
</body>
</html>

